/*=========================================================================================
    File Name: vertical-menu.scss
    Description: A calssic vertical modern style menu with expand and collops support. It support
    light & dark version, filpped layout, right side icons, native scroll and borders menu
    item seperation.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
/*========================================================
        DARK LAYOUT
=========================================================*/
body.vertical-layout.vertical-menu-modern .main-menu .navigation > li > a > i {
  font-size: 1.2rem;
  margin-right: 1rem;
  float: left; }

body.vertical-layout.vertical-menu-modern .main-menu .navigation .menu-content > li > a > i {
  margin-right: 1.38rem;
  font-size: 0.8rem; }

body.vertical-layout.vertical-menu-modern .toggle-icon {
  margin-right: 0.425rem; }
  body.vertical-layout.vertical-menu-modern .toggle-icon:focus {
    outline: none; }

@media (min-width: 576px) {
  body.vertical-layout.vertical-menu-modern.menu-flipped .main-menu {
    right: 0; } }

body.vertical-layout.vertical-menu-modern .navbar .navbar-brand {
  white-space: nowrap; }

body.vertical-layout.vertical-menu-modern .navbar .navbar-header .nav-toggle {
  position: absolute;
  right: 0; }

body.vertical-layout.vertical-menu-modern .main-menu {
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden; }

body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-header {
  float: left;
  width: 260px; }

body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein; }

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
  width: 260px; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation .navigation-header .icon-minus {
    display: none; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > i {
    margin-right: 1rem;
    float: left; }
    body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > i:before {
      font-size: 1.429rem; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > span {
    animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein; }
    body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > span.badge {
      position: absolute;
      right: 20px; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 1.1rem;
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 10px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.open > a:not(.mm-next):after {
    transform: rotate(90deg); }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .main-menu-footer {
    width: 260px; }

body.vertical-layout.vertical-menu-modern.menu-expanded .footer {
  margin-left: 260px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header {
  float: left;
  width: 80px; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header .modern-nav-toggle {
    display: none; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded {
    width: 260px;
    z-index: 1000; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded .modern-nav-toggle {
      display: block; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded .navbar-brand .brand-text {
      animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header .navbar-brand .brand-text {
    animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-brand {
  padding: 15px 0px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar.fixed-top {
  left: 80px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu {
  width: 80px;
  transition: 300ms ease all;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0); }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-footer {
    width: 80px; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-footer,
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-body .media-heading,
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-body .text-muted,
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-right {
    display: none; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-body {
    opacity: 0; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navbar-header .brand-text,
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .modern-nav-toggle {
    display: none; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .user-content {
    padding: 20px 10px; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation-header {
    margin: 0; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation li a {
    line-height: 1; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation li:last-child {
    margin-bottom: 1.25rem !important; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation li.active a {
    background: whitesmoke;
    box-shadow: none;
    color: #565656; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation {
    overflow: visible; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li.navigation-header .icon-minus {
      display: block;
      font-size: 1.2rem; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li.navigation-header span {
      display: none; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a {
      text-overflow: inherit; }
      body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a > span {
        animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout; }
        body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a > span.badge {
          float: none !important; }
      body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a i {
        margin-right: 1rem;
        float: left; }
        body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a i:before {
          font-size: 1.429rem; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .mTSWrapper {
    overflow: visible; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded {
    width: 260px; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li.navigation-header .icon-minus {
      display: none; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li.navigation-header span {
      display: block; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li > a > span {
      animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein; }
      body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li > a > span.badge {
        position: absolute;
        right: 20px; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.has-sub > a:not(.mm-next):after {
      content: "\f105";
      font-family: 'FontAwesome';
      font-size: 1rem;
      display: inline-block;
      position: absolute;
      right: 25px;
      top: 10px;
      transform: rotate(0deg);
      transition: -webkit-transform 0.2s ease-in-out; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.open > a:not(.mm-next):after {
      transform: rotate(90deg); }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navbar-header .brand-text {
      display: inline; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .modern-nav-toggle {
      display: block; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .app-content,
body.vertical-layout.vertical-menu-modern.menu-collapsed .footer {
  margin-left: 80px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .header-navbar.floating-nav {
  width: calc(100vw - (100vw - 100%) - 4.4rem - 80px); }

body.vertical-layout.vertical-menu-modern.menu-collapsed .header-navbar.navbar-static-top {
  width: calc(100vw - (100vw - 100%) - 80px);
  left: 80px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .content {
  margin: 0;
  margin-right: 80px; }

@media (min-width: 576px) {
  body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .main-menu {
    right: 0; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .main-menu span.menu-title {
      right: 80px; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .main-menu ul.menu-content {
      right: 80px;
      left: inherit; } }

body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .navbar .navbar-header {
  float: right; }

body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 80px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .footer {
  margin: 0;
  margin-right: 80px; }

@media (min-width: 992px) {
  body.vertical-layout.vertical-menu-modern .main-menu {
    width: 260px; }
    body.vertical-layout.vertical-menu-modern .main-menu .navigation li.navigation-header .icon-minus {
      display: none; }
  body.vertical-layout.vertical-menu-modern .navbar .navbar-header {
    width: 260px; }
  body.vertical-layout.vertical-menu-modern .footer {
    margin-left: 260px; }
  body.vertical-layout.vertical-menu-modern.menu-flipped .content {
    margin: 0;
    margin-right: 260px; }
  body.vertical-layout.vertical-menu-modern.menu-flipped .navbar .navbar-header {
    float: right; }
  body.vertical-layout.vertical-menu-modern.menu-flipped .navbar .navbar-container {
    margin: 0;
    margin-right: 260px; }
  body.vertical-layout.vertical-menu-modern.menu-flipped .footer {
    margin: 0;
    margin-right: 260px; } }

@media (max-width: 1199.98px) {
  body.vertical-layout.vertical-menu-modern .main-menu {
    width: 0;
    opacity: 0;
    left: -260px; }
    body.vertical-layout.vertical-menu-modern .main-menu .navigation > li > a > span {
      animation: 0.1s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout; }
    body.vertical-layout.vertical-menu-modern .main-menu .navigation li.navigation-header span {
      display: none; }
  body.vertical-layout.vertical-menu-modern .navbar .navbar-header {
    width: 0; }
  body.vertical-layout.vertical-menu-modern .content,
  body.vertical-layout.vertical-menu-modern .footer {
    margin-left: 0; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .app-content,
  body.vertical-layout.vertical-menu-modern.menu-collapsed .footer {
    margin-left: 0; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu {
    width: 0; } }

@media (max-width: 767.98px) {
  body.vertical-layout.vertical-menu-modern .main-menu {
    width: 0; }
  body.vertical-layout.vertical-menu-modern .navbar .navbar-header {
    width: 0; }
  body.vertical-layout.vertical-menu-modern .content,
  body.vertical-layout.vertical-menu-modern .footer {
    margin-left: 0; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body.vertical-menu-modern.vertical-layout .main-menu .navigation > li > a > span {
    animation: none; } }

/*=========================================================================================
    File Name: vertical-overlay-menu.scss
    Description: A overlay style vertical menu with show and hide support. It support
    light & dark version, filpped layout, right side icons, native scroll and borders menu
    item seperation.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
/*========================================================
        DARK LAYOUT
=========================================================*/
.vertical-overlay-menu .content {
  margin-left: 0; }

.vertical-overlay-menu .navbar .navbar-header {
  float: left;
  width: 260px; }

.vertical-overlay-menu .navbar.header-navbar.floating-nav {
  width: calc(100vw - (100vw - 100%) - calc(2.2rem * 2)); }

.vertical-overlay-menu .main-menu, .vertical-overlay-menu.menu-hide .main-menu {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: width .25s,opacity .25s,transform .25s;
  width: 260px;
  left: -260px; }
  .vertical-overlay-menu .main-menu .navigation .navigation-header .icon-minus {
    display: none; }
  .vertical-overlay-menu .main-menu .navigation > li > a > i {
    margin-right: 14px;
    float: left; }
    .vertical-overlay-menu .main-menu .navigation > li > a > i:before {
      transition: 200ms ease all;
      font-size: 1.429rem; }
  .vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 10px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out; }
  .vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
    transform: rotate(90deg); }
  .vertical-overlay-menu .main-menu .navigation li a i {
    font-size: 1.1rem; }
  .vertical-overlay-menu .main-menu .main-menu-footer {
    bottom: 55px; }
  .vertical-overlay-menu .main-menu .main-menu-footer {
    width: 260px; }

.vertical-overlay-menu.menu-open .main-menu {
  opacity: 1;
  transform: translate3d(260px, 0, 0);
  transition: width .25s,opacity .25s,transform .25s; }

.vertical-overlay-menu.menu-flipped .main-menu {
  right: -260px;
  left: inherit; }

.vertical-overlay-menu.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 260px; }

.vertical-overlay-menu.menu-flipped .navbar .navbar-header {
  float: right; }

.vertical-overlay-menu.menu-flipped.menu-open .main-menu {
  transform: translate3d(-260px, 0, 0); }

@media (max-width: 991.98px) {
  .vertical-overlay-menu .main-menu .main-menu-footer {
    bottom: 0px; } }


/* File Palette-Gradient */
.bg-gradient-white {
  color: #fff;
  background-image: linear-gradient(30deg, #FFFFFF, rgba(255, 255, 255, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-white:hover, .bg-gradient-white:active {
    color: #fff; }

.gradient-light-white {
  background: linear-gradient(30deg, #FFFFFF 0%, 100%);
  color: #fff; }
  .gradient-light-white:hover, .gradient-light-white:active {
    color: #fff; }

.bg-gradient-black {
  color: #fff;
  background-image: linear-gradient(30deg, #000000, rgba(0, 0, 0, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-black:hover, .bg-gradient-black:active {
    color: #fff; }

.gradient-light-black {
  background: linear-gradient(30deg, #000000 0%, 100%);
  color: #fff; }
  .gradient-light-black:hover, .gradient-light-black:active {
    color: #fff; }

.bg-gradient-dark {
  background: #640064;
  color: #fff;
  background-image: linear-gradient(30deg, #1e1e1e, rgba(30, 30, 30, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-dark:hover, .bg-gradient-dark:active {
    color: #fff; }

.gradient-light-dark {
  background: linear-gradient(30deg, #1e1e1e 0%, 100%);
  color: #fff; }
  .gradient-light-dark:hover, .gradient-light-dark:active {
    color: #fff; }

.bg-gradient-light {
  background: #640064;
  color: #fff;
  background-image: linear-gradient(30deg, #babfc7, rgba(186, 191, 199, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-light:hover, .bg-gradient-light:active {
    color: #fff; }

.gradient-light-light {
  background: linear-gradient(30deg, #babfc7 0%, 100%);
  color: #fff; }
  .gradient-light-light:hover, .gradient-light-light:active {
    color: #fff; }

.bg-gradient-primary {
  background: #640064;
  color: #fff;
  background-image: linear-gradient(30deg, #7367f0, rgba(115, 103, 240, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-primary:hover, .bg-gradient-primary:active {
    color: #fff; }

.gradient-light-primary {
  background: linear-gradient(30deg, #7367f0 0%, #ce9ffc 100%);
  color: #fff; }
  .gradient-light-primary:hover, .gradient-light-primary:active {
    color: #fff; }

.bg-gradient-secondary {
  background: #640064;
  color: #fff;
  background-image: linear-gradient(30deg, #b8c2cc, rgba(184, 194, 204, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-secondary:hover, .bg-gradient-secondary:active {
    color: #fff; }

.gradient-light-secondary {
  background: linear-gradient(30deg, #b8c2cc 0%, #dcdeec 100%);
  color: #fff; }
  .gradient-light-secondary:hover, .gradient-light-secondary:active {
    color: #fff; }

.bg-gradient-success {
  background: #0064fa;
  color: #fff;
  background-image: linear-gradient(30deg, #28c76f, rgba(40, 199, 111, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-success:hover, .bg-gradient-success:active {
    color: #fff; }

.gradient-light-success {
  background: linear-gradient(30deg, #28c76f 0%, #4ae9d3 100%);
  color: #fff; }
  .gradient-light-success:hover, .gradient-light-success:active {
    color: #fff; }

.bg-gradient-info {
  background: #640064;
  color: #fff;
  background-image: linear-gradient(30deg, #00cfe8, rgba(0, 207, 232, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-info:hover, .bg-gradient-info:active {
    color: #fff; }

.gradient-light-info {
  background: linear-gradient(30deg, #00cfe8 0%, #2d91ff 100%);
  color: #fff; }
  .gradient-light-info:hover, .gradient-light-info:active {
    color: #fff; }

.bg-gradient-warning {
  background: #fafafa;
  color: #fff;
  background-image: linear-gradient(30deg, #ff9f43, rgba(255, 159, 67, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-warning:hover, .bg-gradient-warning:active {
    color: #fff; }

.gradient-light-warning {
  background: linear-gradient(30deg, #ff9f43 0%, #fff487 100%);
  color: #fff; }
  .gradient-light-warning:hover, .gradient-light-warning:active {
    color: #fff; }

.bg-gradient-danger {
  background: #640064;
  color: #fff;
  background-image: linear-gradient(30deg, #ea5455, rgba(234, 84, 85, 0.5));
  background-repeat: repeat-x; }
  .bg-gradient-danger:hover, .bg-gradient-danger:active {
    color: #fff; }

.gradient-light-danger {
  background: linear-gradient(30deg, #ea5455 0%, #f9b789 100%);
  color: #fff; }
  .gradient-light-danger:hover, .gradient-light-danger:active {
    color: #fff; }


/*========================================================
        DARK LAYOUT
=========================================================*/
/* app ecommerce details css */
/*---------------*/
.app-ecommerce-details .item-features {
  background-color: #f7f7f7; }

/* swiper slide shadow */
.swiper-container .swiper-shadow {
  box-shadow: 2px 8px 10px 0 rgba(25, 42, 70, 0.13) !important; }

.swiper-responsive-breakpoints.swiper-container .swiper-slide {
  text-align: center;
  font-weight: 500;
  background-color: #f7f7f7;
  padding: 1.5rem;
  cursor: pointer; }

.swiper-button-prev,
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: none;
  width: 35px;
  font-size: 2rem; }
  .swiper-button-prev:focus,
  .swiper-button-next:focus,
  .swiper-container-rtl .swiper-button-prev:focus,
  .swiper-container-rtl .swiper-button-next:focus {
    outline: none; }
  .swiper-button-prev:after,
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    font-family: 'feather'; }

.swiper-button-prev {
  left: 0; }
  .swiper-button-prev:after {
    content: "\e843"; }

.swiper-button-next {
  right: 0; }
  .swiper-button-next:after {
    content: "\e844"; }

.swiper-container-rtl .swiper-button-prev:after {
  content: "\e844"; }

.swiper-container-rtl .swiper-button-next:after {
  content: "\e843"; }

.product-color-options .color-option {
  border: 2px solid transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  padding: .3rem; }
  .product-color-options .color-option .filloption {
    height: 21px;
    width: 21px;
    border-radius: 50%; }

.product-color-options .selected .b-primary {
  border-color: #7367f0; }

.product-color-options .selected .b-success {
  border-color: #28c76f; }

.product-color-options .selected .b-danger {
  border-color: #ea5455; }

.product-color-options .selected .b-warning {
  border-color: #ff9f43; }

.product-color-options .selected .b-black {
  border-color: #22292f; }
