@import "../../../../assets/css/plugins/forms/validation/form-validation.css";
.select-label{
    margin-left: 28px;
    font-size: 12px;
    color: #a9acaf;
}
fieldset .alert.alert-danger
{
    margin-bottom: -5px !important;
    margin-top: 6px !important;
    font-size: 13px;
}
.role-pill{
    font-size: 9px;
}
.table-responsive {
    overflow-x: unset !important;
}
.thumb-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.font-weight-500{
    font-weight: 500;
}
.table thead th {
    font-size: 14px !important;
}