<app-side-bar></app-side-bar>
<app-top-bar [router]="router"></app-top-bar>
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-body w-100">
                <!-- Zero configuration table -->
                <section id="basic-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-2">Gestion des utilisateurs</h4>
                                    <button type="button" data-toggle="modal" data-target="#createmodal"
                                        class="btn btn-primary mr-1 mb-2 waves-effect waves-light"
                                        (click)="openAddUser(userForm)">Ajouter</button>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body card-dashboard">
                                        <div class="table-responsive">
                                            <table class="table zero-configuration">
                                                <thead>
                                                    <tr>
                                                        <th>Nom et Prénom</th>
                                                        <th>Login</th>
                                                        <th>Email</th>
                                                        <th>Téléphone</th>
                                                        <th>actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let user of users">
                                                        <td class="font-weight-500">
                                                            <img class="thumb-img mr-2"
                                                                [src]="user.image">

                                                            {{user.nom+" "+user.prenom |titlecase }}
                                                            <span
                                                                class="ml-1 role-pill font-weight-500 badge badge-pill badge-success">{{user.role |titlecase}}</span>

                                                        </td>
                                                        <td>{{user.login}}</td>
                                                        <td><a [href]="'mailto:'+user.email">{{user.email}}</a></td>
                                                        <td><a [href]="'tel:'+user.tel">{{user.tel}}</a></td>
                                                        <td class="product-action">
                                                            <a data-toggle="modal" data-target="#createmodal"><span
                                                                    (click)="openEditUser(userForm,user)"
                                                                    class="action-edit"><i
                                                                        class="feather icon-edit"></i></span></a>
                                                            <a (click)="removeUser(user.email)"><span
                                                                    class="action-delete"><i
                                                                        class="feather icon-trash"></i></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Nom et Prénom</th>
                                                        <th>Login</th>
                                                        <th>Email</th>
                                                        <th>Téléphone</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/ Scroll - horizontal and vertical table -->
            </div>
        </div>
    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="createmodalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createmodalLabel">Manage Users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Create Form -->
                <form #userForm="ngForm" class="form-group" [ngClass]="userForm['clicked'] ? 'submitted':''">


                    <fieldset class="form-label-group form-group position-relative has-icon-left">
                        <input #username="ngModel" type="text" class="form-control" [(ngModel)]="user.login"
                            name="username" placeholder="Username" required>
                        <div class="form-control-position">
                            <i class="feather icon-user"></i>
                        </div>
                        <label for="user-name">Username</label>
                        <div *ngIf="username.invalid && userForm['clicked']" class="alert alert-danger">
                            <div *ngIf="username.errors.required">
                                Le nom d'utilisateur est obligatoire.
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-label-group form-group position-relative has-icon-left">
                        <input #emaile="ngModel" class="form-control" [(ngModel)]="user.email" name="email"
                            placeholder="Email" email required>
                        <div class="form-control-position">
                            <i class="feather icon-user"></i>
                        </div>
                        <label for="user-name">Email</label>
                        <div *ngIf="emaile.invalid && userForm['clicked']" class="alert alert-danger">
                            <div *ngIf="emaile.errors.required">
                                Le emaile est obligatoire.
                            </div>
                            <div *ngIf="emaile.errors.email">
                                Verfier votre email.
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-label-group position-relative has-icon-left">
                        <input #name="ngModel" type="text" class="form-control" [(ngModel)]="user.nom" name="nom"
                            placeholder="Nom" required>
                        <div class="form-control-position">
                            <i class="feather icon-lock"></i>
                        </div>
                        <label for="user-nom">Nom</label>
                        <div *ngIf="name.invalid && userForm['clicked']" class="alert alert-danger">
                            <div *ngIf="name.errors.required">
                                Le nom est obligatoire.
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-label-group position-relative has-icon-left"
                        [ngClass]="userForm['clicked']&&!prenom.valid? 'error' : userForm['clicked'] ? 'valid':''">
                        <input #prenom="ngModel" class="form-control" [(ngModel)]="user.prenom" name="prenom"
                            id="user-prenom" placeholder="prenom" required>
                        <div class="form-control-position">
                            <i class="feather icon-lock"></i>
                        </div>
                        <label for="user-prenom">Prenom</label>
                        <!-- Error Message -->
                        <!-- <div *ngIf="userForm['clicked']&&!prenom.valid" class="help-block m-0 danger">
                            <span>This First Name field is required</span>
                        </div> -->
                        <div *ngIf="prenom.invalid && userForm['clicked']" class="alert alert-danger">
                            <div *ngIf="prenom.errors.required">
                                Le Prenom est obligatoire.
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-label-group position-relative has-icon-left">
                        <input #password="ngModel" type="password" class="form-control" [(ngModel)]="user.password"
                            name="password" id="user-password" placeholder="Password" minlength="8" required>
                        <div class="form-control-position">
                            <i class="feather icon-lock"></i>
                        </div>
                        <label for="user-password">Password</label>
                        <div *ngIf="password.invalid && userForm['clicked']" class="alert alert-danger">
                            <div *ngIf="password.errors.required">
                                Le Password est obligatoire.
                            </div>
                            <div *ngIf="password.errors.minlength">
                                Le Password doit avoir plus que 8 charactére.
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-label-group position-relative has-icon-left">

                        <select #role="ngModel" class="form-control" [(ngModel)]="user.role" name="role"
                            placeholder="role" required>
                            <option value="admin">Admin</option>
                        </select>
                        <div class="form-control-position">
                            <i class="feather icon-lock"></i><span class="select-label" *ngIf="!user.role">Role</span>
                        </div>
                        <label>prenom</label>
                        <div *ngIf="role.invalid && userForm['clicked']" class="alert alert-danger">
                            <div *ngIf="role.errors.required">
                                Le role d'utilisateur est obligatoire.
                            </div>

                        </div>
                    </fieldset>

                    <fieldset class="form-label-group position-relative has-icon-left">
                        <input type="text" class="form-control" [(ngModel)]="user.tel" name="tel" placeholder="tel">
                        <div class="form-control-position">
                            <i class="feather icon-lock"></i>
                        </div>
                        <label for="user-tel">tel</label>
                    </fieldset>

                </form>

            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" (click)="addUser(userForm)"
                    class="btn btn-primary float-right btn-inline">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->
<app-footer></app-footer>