@import '../../../assets/css/pages/authentication.css';
.bg {
    background: url(../../../assets/images/pages/vuexy-login-bg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.table-responsive {
    overflow-x: unset !important;
}