<!-- BEGIN: Content-->
<div class="bg">
</div>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="row flexbox-container">
                <div class="col-xl-8 col-11 d-flex justify-content-center">
                    <div class="card bg-authentication rounded-0 mb-0">
                        <div class="row m-0">
                            <div class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0">
                                <img src="assets/images/pages/login.png" alt="branding logo">
                            </div>
                            <div class="col-lg-6 col-12 p-0">
                                <div class="card rounded-0 mb-0 px-2 py-5">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="mb-0">Login</h4>
                                        </div>
                                    </div>
                                    <p class="px-2">Welcome back, please login to your account.</p>
                                    <div class="card-content">
                                        <div class="card-body pt-1">
                                            <form #loginForm="ngForm">
                                                <fieldset
                                                    class="form-label-group form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" [(ngModel)]="username"
                                                        name="username" id="user-name" placeholder="Username" required>
                                                    <div class="form-control-position">
                                                        <i class="feather icon-user"></i>
                                                    </div>
                                                    <label for="user-name">Username</label>
                                                </fieldset>

                                                <fieldset class="form-label-group position-relative has-icon-left">
                                                    <input type="password" class="form-control" [(ngModel)]="password"
                                                        name="password" id="user-password" placeholder="Password"
                                                        required>
                                                    <div class="form-control-position">
                                                        <i class="feather icon-lock"></i>
                                                    </div>
                                                    <label for="user-password">Password</label>
                                                </fieldset>
                                                <div *ngIf="this.syntaxerror" class="alert alert-danger" role="alert">
                                                    <h4 class="alert-heading">Danger</h4>
                                                    <p class="mb-0">
                                                        Your username & password are required.
                                                    </p>
                                                </div>
                                                <div *ngIf="this.error" class="alert alert-danger" role="alert">
                                                    <h4 class="alert-heading">Danger</h4>
                                                    <p class="mb-0">
                                                        {{this.error}}
                                                    </p>
                                                </div>
                                                <button type="submit" (click)="loginSubmit(loginForm)"
                                                    class="btn btn-primary float-right btn-inline">Login</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<!-- END: Content-->