<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
	<div class="navbar-header">
		<ul class="nav navbar-nav flex-row">
			<li class="nav-item ml-3 mr-auto"><a class="navbar-brand" routerLink="/home">
					<div class="brand-logo"><img height="80px" src="../../../assets/img/logo.png" alt=""></div>
				</a></li>
		</ul>
	</div>
	<div class="shadow-bottom"></div>
	<div class="main-menu-content">
		<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
			<li class="navigation-header"><span>Apps</span>
			</li>
			<li routerLinkActive="active" [routerLink]="['/home']"
				class="nav-item mb-1 has-sub sidebar-group-active open">
				<a>
					<i class="feather icon-home"></i><span class="menu-title"
						data-i18n="Components">Dashboard</span></a>
			</li>
			<li routerLinkActive="active" [routerLink]="['/admin/users']"
				class="nav-item mb-1 has-sub sidebar-group-active open">
				<a>
					<i class="feather icon-users"></i><span class="menu-title"
						data-i18n="Components">Utilisateurs</span></a>
			</li>
			<li routerLinkActive="active" [routerLink]='["/admin/projects"]'
				class="nav-item mb-1 has-sub sidebar-group-active open">
				<a>
					<i class="feather icon-server"></i>
					<span class="menu-title" data-i18n="Components">Projets</span></a>
			</li>
		</ul>
	</div>
</div>
<!-- END: Main Menu-->