/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/scss/font-awesome.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.table thead th {
    font-size: 14px !important;
}
.product-action {
    padding-left: 13px;
    i{
        font-size: 22px;
    }
}
.modal-title{
    font-size: 22px !important;
    padding-top: 15px;
    padding-left: 10px;
}
.alert{
    font-size: 10px !important;
    padding: 1px 15px !important;
    font-weight: 400 !important;
}
