<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-light navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="navbar-collapse" id="navbar-mobile">
                <div class="mr-auto float-left w-lg-100">
                    <div class="row breadcrumbs-top">
                        <div class="col-12 d-flex">
                            <h2 class="content-header-title px-3 float-left mb-0">{{router['name']}}</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li *ngFor="let p of router['parent']" class="breadcrumb-item"><a
                                            [routerLink]="p.url">{{p.name}}</a>
                                    </li>
                                    <li class="breadcrumb-item active">{{router['name']}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"
                            id="user-drop">
                            <div class="user-nav d-sm-flex d-none"><span class="user-name text-bold-600">{{user.nom+" "+user.prenom|titlecase}}</span><span class="user-status">{{user.role|titlecase}}</span></div><span><img class="round"
                                    [src]="user.image" alt="avatar" height="40"
                                    width="40"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-drop">

                            <!-- <a class="dropdown-item" href="page-user-profile.html"><i class="feather icon-user"></i>
                                Edit Profile</a>
                            <a class="dropdown-item" href="app-email.html"><i class="feather icon-mail"></i> My Inbox</a>
                            <a class="dropdown-item" href="app-todo.html"><i class="feather icon-check-square"></i> Task</a>
                            <a class="dropdown-item" href="app-chat.html"><i class="feather icon-message-square"></i> Chats</a>
                            <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item" (click)="logout()"><i class="feather icon-power"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>
<!-- END: Header-->