<app-side-bar></app-side-bar>
<app-top-bar [router]="router"></app-top-bar>
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-body w-100">
                <!-- Zero configuration table -->
                <section id="basic-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-2">Gestion des projets</h4>
                                    <button type="button" data-toggle="modal" data-target="#createmodal"
                                        class="btn btn-primary mr-1 mb-2 waves-effect waves-light"
                                        (click)="openAddModal(manageFrom)">Ajouter</button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body card-dashboard">
                                        <div class="table-responsive">
                                            <table class="table zero-configuration">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Designation</th>
                                                        <th>Status</th>
                                                        <th>Date Debut</th>
                                                        <th>Date Fin</th>
                                                        <th>Directeur</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let project of projects">
                                                        <td>{{project.nom}}</td>
                                                        <td>{{project.details}}</td>
                                                        <td>{{project.status}}</td>
                                                        <td>{{project.startDate | date:'dd/MM/yyyy' }}</td>
                                                        <td>{{project.endDate | date:'dd/MM/yyyy' }}</td>
                                                        <td>{{project.manager.nom+' '+project.manager.prenom |titlecase }}
                                                        </td>
                                                        <td class="product-action">
                                                            <a data-toggle="modal" data-target="#createmodal"><span
                                                                    (click)="openEditProject(manageFrom,project)"
                                                                    class="action-edit"><i
                                                                        class="feather icon-edit"></i></span></a>
                                                            <a (click)="removeProject(project.id)"><span
                                                                    class="action-delete"><i
                                                                        class="feather icon-trash"></i></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Designation</th>
                                                        <th>Status</th>
                                                        <th>Date Debut</th>
                                                        <th>Date Fin</th>
                                                        <th>Directeur</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
               
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="createmodalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createmodalLabel">Manage Projects</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Create Form -->
                <form #manageFrom="ngForm" class="form-group" [ngClass]="manageFrom['clicked'] ? 'submitted':''">
                    <fieldset class="form-label-group form-group position-relative has-icon-left">
                        <input #nom="ngModel" type="text" class="form-control" [(ngModel)]="project.nom" name="nom"
                            placeholder="Nom du projet" required>
                        <div class="form-control-position">
                            <i class="feather icon-server"></i>
                        </div>
                        <label>Nom du projet</label>
                        <div *ngIf="nom.invalid && manageFrom['clicked']" class="alert alert-danger">
                            <div *ngIf="nom.errors.required">
                                Le nom du projet est obligatoire.
                            </div>
                        </div>
                    </fieldset>


                      <fieldset class="form-label-group form-group position-relative has-icon-left">
                            <input type="text" 
                            placeholder="Date debut - Date fin" #range="ngModel"
                            class="form-control" name="rangeDate" [(ngModel)]="rangeDate"
                            bsDaterangepicker [bsValue]="rangeDate" required>
                        <div class="form-control-position">
                            <i class="feather icon-calendar"></i>
                        </div>
                        <label>Date debut - Date fin</label>

                        <div *ngIf="range.invalid && manageFrom['clicked']" class="alert alert-danger">
                            <div *ngIf="range.errors.required">
                                Le date debut et date fin du projet est obligatoire.
                            </div>
                        </div>
                    </fieldset>


                    <fieldset class="form-label-group form-group position-relative has-icon-left">
                        <textarea #details="ngModel" type="text" class="form-control" [(ngModel)]="project.details"
                            name="details" placeholder="Decription du projet" required rows="3"></textarea>
                        <div class="form-control-position">
                            <i class="feather icon-clipboard"></i>
                        </div>
                        <label>Decription du projet</label>
                        <div *ngIf="details.invalid && manageFrom['clicked']" class="alert alert-danger">
                            <div *ngIf="details.errors.required">
                                Le nom du projet est obligatoire.
                            </div>
                        </div>
                    </fieldset>





                    <fieldset class="form-label-group form-group position-relative has-icon-left">
                        <input #budget="ngModel" type="number" class="form-control" [(ngModel)]="project.budget"
                            name="budget" placeholder="Budget" required>
                        <div class="form-control-position">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                        </div>
                        <label>Budget</label>
                        <div *ngIf="budget.invalid && manageFrom['clicked']" class="alert alert-danger">
                            <div *ngIf="budget.errors.required">
                                Le Budget du projet est obligatoire.
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-label-group position-relative has-icon-left">

                        <select #manager="ngModel" class="form-control" [(ngModel)]="project.manager.id" name="manager"
                            placeholder="manager" required>
                            <option *ngFor="let manager of managers" [value]="manager.id">
                                {{manager.nom+' '+manager.prenom |titlecase }}</option>
                        </select>
                        <input type="hidden">
                        <div class="form-control-position">
                            <i class="feather icon-lock"></i><span class="select-label"
                                *ngIf="!project.manager.id">Manager</span>
                        </div>
                        <label *ngIf="project.manager.id" for="manager-prenom">Manager</label>
                        <div *ngIf="manager.invalid && manageFrom['clicked']" class="alert alert-danger">
                            <div *ngIf="manager.errors.required">
                                Le manager est obligatoire.
                            </div>

                        </div>
                    </fieldset>



                    <fieldset class="form-label-group position-relative has-icon-left">

                        <select #status="ngModel" class="select2 form-control" [(ngModel)]="project.status" name="manager"
                            placeholder="manager" required>
                            <option value="" disabled selected>Selctionner la stautus</option>
                            <option value="active">Active</option>
                            <option value="active">En cours</option>
                            <option value="active">Terminer</option>
                            
                        </select>
                        <div class="form-control-position">
                            <i class="feather icon-lock"></i><span class="select-label"
                                *ngIf="!project.manager">Manager</span>
                        </div>
                        <label for="manager-prenom">prenom</label>
                        <div *ngIf="manager.invalid && manageFrom['clicked']" class="alert alert-danger">
                            <div *ngIf="manager.errors.required">
                                Le manager est obligatoire.
                            </div>

                        </div>
                    </fieldset>

                    

                </form>

            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" (click)="addProject(manageFrom)"
                    class="btn btn-primary float-right btn-inline">Save</button>
            </div>
        </div>
    </div>
</div>







<!-- END: Content-->
<app-footer></app-footer>