@import "../../../../assets/css/plugins/forms/validation/form-validation.css";
.select-label{
    margin-left: 28px;
    font-size: 12px;
    color: #a9acaf;
}
fieldset .alert.alert-danger
{
    margin-bottom: -5px !important;
    margin-top: 6px !important;
    font-size: 13px;
}
.table-responsive {
    overflow-x: unset !important;
}
.md-datepicker-calendar-pane {
    z-index: 1200 !important;
}
.cdk-x-container {
    position: fixed;
    z-index: 10000 !important       ;
    /* position: absolute; */
}